<h1>Users</h1>

<table>
	<tbody>
		<tr>
		   <th>Image</th>
		   <th>Title</th>
		   <th>Opinion</th>
		</tr>
		<tr>
			<td>@user.imag</td>
			<td>@book.title</td>
			<td>@book.body</td>
		</tr>
	</tbody>
</table>


