<h1>Users</h1>

<table>
	<tbody>
		<tr>
		   <th>Image</th>
		   <th>name</th>
		   <th colspan = "1" ></th>
		</tr>
		   <% @users.each do |user| %>
		 <tr>
			<td><%= user.profile_image %></td>
			<td><%= user.name %></td>
			<td><%= link_to "Show", user_path(current_user) %></td>
		</tr>
		  <% end %>
	</tbody>
</table>


