<h1><strong>Welcome to Bookers !!</strong></h1>
<p>In<strong>Bookers</strong>,<br>
	you can share and exchange your opinions , inpressions , and emotions<br>
	about various books!
</p>

	<td><%= link_to "Log in", user_session_path %></td>
	<td><%= link_to "Sign Up", new_user_registration_path %></td>