<h1><strong>Welcome to Bookers !!</strong></h1>
<p>In<strong>Bookers</strong>,<br>
	you can share and exchange your opinions , inpressions , and emotions<br>
	about various books!
</p>

<p>
	<a href= "user_session_path" >Log in</a>
	<a href= "new_user_registration_path" >Sign up</a>
</p>